<div class="container"
     fxLayout="row"
     fxLayoutGap="10px">

  <div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              <h3>Career Opportunities:</h3>
            </mat-card-title>
            </mat-card-header>
      <mat-card-content>
    <p>
      Are you looking to spice up your career? Sauceboss has career opportunities for professional sauce enthusiasts. 
      <br>
      <br>
      We have openings available in our marketing, finance, and technology departments that we are looking to fill in the new year. 
      <br>
      <br>
      If you are interested in applying for any of our open positions please email a copy of your resume to careers@sauceboss.com. 
      <br>
      <br>
     Here is a list of positions currently available: 
     <br>
     <mat-list>
       <mat-list-item>Marketing Consultant</mat-list-item>
       <mat-list-item>Accountant</mat-list-item>
       <mat-list-item>Web Developer</mat-list-item>
       <mat-list-item>Database Developer</mat-list-item>
       <mat-list-item>Sauce Tester</mat-list-item>
     </mat-list>
      </p>
      </mat-card-content>
      </mat-card>
  </div>

  <div fxFlex>
      <mat-card-content>
          <img height=450px width=550px src="/assets/images/career.jpg" alt="Love">
      </mat-card-content>
  </div>
</div>

  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div>
      <mat-card>
          <mat-card-content>
    <p>
      DISCLAIMER:
      <br>
      <br>
      Sauceboss provides equal employment opportunities to all employees and applicants for employment and prohibits discrimination and harassment of any type without regard to race, color, religion, age, sex, disability status, sexual orientation, protected veterans, gender identity or any other characteristic protected by federal, state or local laws. 
      <br>
      <br>
      This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.
      <br>
     
    </p>
  </mat-card-content>
</mat-card>
  </div>
</div>
