<div class="container"
     fxLayout="row"
     fxLayoutGap="10px">

  <div>
    <p>
      We are a pizza company focused on making the best indian pizza possible.
      <br>
      From our Tandoori pizza, to our Mago Lassi, we have a variety of delicious food.
      <br>
      <br>
      We were founded in 2018 by a college student who was constantly hungry.
      <br>
      When you're hungry late at night, we are here for you!
      </p>
  </div>

  <div>
    <p>
      Questions? Concerns?
      <br>
      If you have any issues with your order or food, please use the Contact Us page.
      <br>
      Your satisfaction is our priority!
      <br>
      <br>
      We have over 95 percent satisfaction rate!
    </p>
  </div>

</div>
