<div class="container"
     fxLayout="row"
     fxLayoutGap="10px">

  <div>
    <mat-card>
      <mat-card-content>
    <p>
      We are a sauce company focused bringing the best hot sauce possible to the world.
      <br>
      From our spicy red sauce, to our mild green sauce, we have the sauce for you!
      <br>
      <br>
      We were founded in 2018 by group of college students who were constantly craving more spice from life.
      <br>
      We are the Sauce Boss! Satisfaction guarunteed!
      </p>
      </mat-card-content>
      </mat-card>
  </div>

  <div>
      <mat-card>
          <mat-card-content>
    <p>
      Questions? Concerns?
      <br>
      If you have any issues with your order or sauce, please use the Contact Us page.
      <br>
      Your satisfaction is our priority!
      <br>
      <br>
      We have over 95 percent satisfaction rate!
    </p>
  </mat-card-content>
</mat-card>
  </div>
</div>
<mat-divider></mat-divider>
<div fxLayout="row">
    <mat-card>
      <mat-card-header>
      <mat-card-title>
        <h3>We are HQ'd in Richmond, VA!</h3>
      </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
          <p><br>Every member of Sauce Boss spent their college career in Richmond, and we are happy to call this place home.
              <br>
              <br>
              Our original location was in the Scott's Addition disctrict, but we recently relocated!
              <br>
              <br>
              We are happy to announce our new location is inside of the VCU arts building.
              <br>
              </p>
              <div>
                  <img height=400px width=400px src="/assets/images/location.jpg" alt="Location">
              </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
        <mat-card-title>
          <h3>WE REALLY LOVE OUR HOT SAUCE</h3>
        </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p><br>Every member of the team here at Sauce Boss shares an immaculate passion for hot sauce.
                <br>
                We hand pick every member of our team based on not only their ability to be a good worker,
                <br>but also to make sure that they too share our passion for making things HOT
                <br>
                <br>
                We strive for perfection in every aspect of our business, from product quality, to customer support,
                <br>you will not be disappointed!
                <br>
                <br>
                If you have any questions, don't hesitate to contact us! Also please check out our social media pages for
                <br>special deals!
                </p>
                <div>
                    <img height=400px width=400px src="/assets/images/love.jpg" alt="Love">
                </div>
        </mat-card-content>
      </mat-card>
  </div>
