<div class="container"
     fxLayout="row"
     fxLayoutGap="10px">

  <div>
    <p>
      We are a sauce company focused bringing the best hot sauce possible to the world.
      <br>
      From our spicy red sauce, to our mild green sauce, we have the sauce for you!
      <br>
      <br>
      We were founded in 2018 by group of college students who were constantly craving more spice from life.
      <br>
      We are the Sauce Boss! Satisfaction guarunteed!
      </p>
  </div>

  <div>
    <p>
      Questions? Concerns?
      <br>
      If you have any issues with your order or sauce, please use the Contact Us page.
      <br>
      Your satisfaction is our priority!
      <br>
      <br>
      We have over 95 percent satisfaction rate!
    </p>
  </div>

</div>
