<mat-divider></mat-divider>
<div fxLayout="row">
    <mat-card>
      <mat-card-header>
      <mat-card-title>
        <h3>Terms and Conditions:</h3>
      </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
          <p><br>
              By purchasing digital content from SauceBoss you are agreeing to the following terms and conditions:
              <br>
              <br>
              You agree to not redistribute any digital media you have purchased from us out without authorization
              <br>
              <br>
              You agree that there are absolutely no returns on digital content.
              <br>
              <br>
              There is a 5 day return policy on all purchased sauces.
              <br>
              If a sauce has been opened, it cannot be returned.
              </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
        <mat-card-title>
          <h3>Copyright Information:</h3>
        </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br>
            <p>Sauce Boss is copyright 2018
                <br>
                It is against the law to use our logo or image without our permission
                <br>
                <br>
                We will prosecute any violations of our copyright to the full extent of the law.
                <br>
                <br>
                If you have any questions, don't hesitate to contact us!
                </p>
        </mat-card-content>
      </mat-card>
  </div>

