<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
        <div>
          <h3>Home Page:</h3>
          <hr>
        </div>
      </div>

      <div fxLayout="row">
        <mat-card>
          <mat-card-header>
          <mat-card-title>
            <h3>We are HQ'd in Richmond, VA!</h3>
          </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
              <p><br>Every member of Sauce Boss spent their college career in Richmond, and we are happy to call this place home.
                  <br>
                  </p>
                  <div>
                      <img height=400px width=400px src="/assets/images/location.jpg" alt="Location">
                  </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
            <mat-card-title>
              <h3>WE REALLY LOVE OUR HOT SAUCE</h3>
            </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    <br>
                    We strive for perfection in every aspect of our business, from product quality, to customer support,
                    <br>you will not be disappointed!
                    </p>
                    <div>
                        <img height=400px width=400px src="/assets/images/love.jpg" alt="Love">
                    </div>
            </mat-card-content>
          </mat-card>
      </div>

      <div fxFlex>
        <div>
          <h3>Here are a few of our Sauces:</h3>
          <hr>
        </div>
      </div>

 <div fxFlex>
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let dish of dishes | slice:0:4" [routerLink]="['/itemdetail', dish.id]">
      <img height="200px" width="200px" src={{dish.image}} alt={{dish.name}}>
      <mat-grid-tile-footer>
        <h1 md-line> {{dish.name | uppercase}} </h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
</div>
</div>
